{% extends "base.html" %}

{% block content %}
    <!-- index.html content starts here -->
        <div class="row">
            <!-- Topics -->
            <div class="col s12 m3">
                <div class="card-panel topic-collumn">
                    <h5>Topics</h5>
                    <ul>
                        {% for topic_id, topic_name in topics %}
                        <li class="topics"><a class="waves-effect waves-light btn-small topic-buttons">{{ topic_name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!-- Search Function -->
            <div class="col s12 m9">
                <h1>Search</h1>
            </div>
            <!-- Threads -->
            <div class="col s12 m9">
                <div class="card-panel">
                    {% for thread in thread_list %}
                    <div>
                        <div class="chip">
                            <img src="static/images/anon-pp.png" alt="Thread Author">
                            by {{thread.author}}
                        </div>
                        <a class="waves-effect waves-light btn-small topic-buttons right">{{thread.get_topic_display}}</a>
                    </div>
                    <ul class="collection">
                            <li class="collection-item">
                                <h5 class="heading">{{thread.title}}</h5>
                                <p class="main-text">{{thread.thread_text |safe }}</p>
                            </li>
                    </ul>
                    {% endfor %}
                </div>
            </div>
        </div>
{% endblock %}
