{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<!-- index.html content starts here -->
<div class="hero">
    <div>
        <img src="{% static 'images/stockrockets-header.png' %}" alt="Outerspace looking down over earth">
    </div>
    <div class="header-content">
        <h1>Welcome to StockRockets <i class="fa-solid fa-rocket"></i></h1>
    </div>
</div>
<div class="row">
    <!-- Topics -->
    <div class="col s12 m3">
        <div class="card-panel topic-collumn">
            <ul>
                <!-- "All Topics" button -->
                <li class="topics all-topic col s6 m12 l12">
                    <form method="GET" action="{% url 'home' %}">
                        <button type="submit" name="topic" value="" class="waves-effect waves-light btn-small custom-buttons">All Topics</button>
                    </form>
                </li>
                <!-- "Following" button -->
                <li class="topics all-topic col s6 m12 l12">
                    <form method="GET" action="{% url 'follow_list' %}">
                        <button type="submit" name="topic" value="following" class="waves-effect waves-light btn-small custom-buttons">Following</button>
                    </form>
                </li>
            </ul>
            <hr class="col s12">
            <h5>Topics:</h5>
            <ul>
                {% for topic_id, topic_name in topics %}
                <li class="topics col s6 m12 l12">
                    <form method="GET" action="{% url 'home' %}">
                        <button type="submit" name="topic" value="{{ topic_id }}" class="waves-effect waves-light btn-small topic-buttons">{{ topic_name }}</button>
                    </form>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col s12 m9 above-threads">
        <!-- New thread button -->
        <a class="waves-effect waves-light btn new-thread-btn modal-trigger" {% if user.is_authenticated %}href="#modal1"{% else %}href="{% url 'account_login' %}"{% endif %}>
            <i class="material-icons right">add_circle</i>
            start new discussion
        </a>
        <!-- New threads form in modal -->
        <div id="modal1" class="modal">
            <div class="modal-content">
                <h4>Create a new thread:</h4>
                <form method="post" action="/thread" id="thread-form">
                    {% csrf_token %}
                    {{ thread_form|crispy }}
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <!-- Threads -->
    <!-- Accsess the threadlist to use in JS with threads-container id-->
    <div class="col s12 m9" id="threads-container">
        <div class="card-panel">
            {% for thread in thread_list %}
            <div class="thread-item">
                <div>
                    <div class="chip">
                        <img src="{% static 'images/anon-pp.png' %}" alt="Thread Author">
                        by {{thread.author}}
                    </div>
                    <a class="waves-effect waves-light btn-small topic-buttons right">{{thread.get_topic_display}}</a>
                </div>
                <ul class="collection">
                    <li class="collection-item">
                        {% if thread.slug %}
                        <a href="{% url 'thread_detail' thread.slug %}" class="thread-link">
                            <h5 id="search-title" class="heading">{{thread.title}}</h5>
                            <p class="card-text">
                                {{ thread.thread_text | safe }}
                            </p>
                        </a>
                        {% endif %}
                    </li>
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}