{% extends 'base.html' %} 
{% block content %}

{% load static %}
{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <div class="created-info">
                    <div class="chip">
                        <img src="{% static 'images/anon-pp.png' %}" alt="Thread Author">
                        by {{thread.author}}
                    </div>
                    <p> | {{ thread.created_on }}</p>
                    <a class="waves-effect waves-light btn-small topic-buttons right">{{thread.get_topic_display}}</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" id="follow-btn">
    <form id="follow-form" action="{% url 'follow_add' thread.thread_id %}" method="POST">
        <button class="btn waves-effect waves-light" type="submit" name="follow_add">Follow Thread</button>
        {% csrf_token %}
    </form>
</div>

<div class="container">
    <div class="row">
        <div id="thread-text-card" class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <h3 class="post-title">{{ thread.title }}</h3>
                <p class="card-text">
                    {{ thread.thread_text | safe }}
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Displaying Comments -->
<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <strong>
                    <i class="far fa-comments" id="comment_count"></i> {{ comment_count }}
                </strong> 
                <div class="col-12">
                    <hr>
                </div>
                <!-- Comment form -->
                <div class="col-md-4 mb-4 mt-3">
                    {% if user.is_authenticated %}
                    <h4 class="comment-heading">Leave a comment:</h4>
                    <p>Posting as: {{ user.username }}</p>
                    <form id="commentForm" method="post" style="margin-top: 1.3em;">
                        {{ comment_form | crispy }}
                        {% csrf_token %}
                        <button id="submitButton" type="submit" class="btn btn-signup btn-lg">Submit</button>
                    </form>
                    {% else %}
                    <p>Log in to leave a comment</p>
                    {% endif %}
                </div>
                <h4 class="comment-heading"> Comments: </h4>
                {% for comment in comments %}
                <div class="created-info">
                    <div class="col card mb-4  mt-3 left  top">
                        <div class="card-body">
                            <div class="created-info">
                                <div class="chip">
                                    <img src="{% static 'images/anon-pp.png' %}" alt="Comment Author">
                                    by {{ comment.author }}
                                </div>
                                <p>{{ comment.created_on }}</p>
                            </div>
                            <p id="comment{{ comment.comment_id }}" class="card-text">
                                {{ comment.body | safe }}
                            </p>
                            {% if request.user == comment.author %}
                            <button data-target="deleteModal" class="btn btn-delete modal-trigger" comment_id="{{ comment.comment_id }}">Delete</button>
                            <button class="btn btn-edit" comment_id="{{ comment.comment_id }}" data-slug="{{ thread.slug }}">Edit</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        
    </div>
</div>
<!-- Delete confirmation modal -->
<div id="deleteModal" class="modal">
    <div class="modal-content">
      <h4>Are you sure you want to delete your comment?</h4>
      <p></p>
    </div>
    <div class="modal-footer">
        <form id="deleteConfirm" method="DELETE">
            <button type="button" class="btn btn-secondary modal-close" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </div>
</div>


{% endblock content %}

{% block extras %}
<script>
    let thread_slug = `{{ thread.slug}}`
</script>
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}