{% extends 'base.html' %} 
{% block content %}

{% load static %}
{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <h3 class="post-title">{{ thread.title }}</h3>
                <div class="created-info">
                    <div class="chip">
                        <img src="{% static 'images/anon-pp.png' %}" alt="Thread Author">
                        by {{thread.author}}
                    </div>
                    <p> | {{ thread.created_on }}</p>
                    <a class="waves-effect waves-light btn-small topic-buttons">{{thread.get_topic_display}}</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <p class="card-text">
                    {{ thread.thread_text | safe }}
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Displaying Comments -->
<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <strong>
                    <i class="far fa-comments" id="comment_count"></i> {{ comment_count }}
                </strong> 
                <div class="col-12">
                    <hr>
                </div>
                <!-- Comment form -->
                <div class="col-md-4 mb-4 mt-3">
                    {% if user.is_authenticated %}
                    <h4 class="comment-heading">Leave a comment:</h4>
                    <p>Posting as: {{ user.username }}</p>
                    <form id="commentForm" method="post" style="margin-top: 1.3em;">
                        {{ comment_form | crispy }}
                        {% csrf_token %}
                        <button id="submitButton" type="submit" class="btn btn-signup btn-lg">Submit</button>
                    </form>
                    {% else %}
                    <p>Log in to leave a comment</p>
                    {% endif %}
                </div>
                <h4 class="comment-heading"> Comments: </h4>
                {% for comment in comments %}
                <div class="created-info">
                    <div class="col card mb-4  mt-3 left  top">
                        <div class="card-body">
                            <div class="created-info">
                                <div class="chip">
                                    <img src="{% static 'images/anon-pp.png' %}" alt="Comment Author">
                                    by {{ comment.author }}
                                </div>
                                <p>{{ comment.created_on }}</p>
                            </div>
                            <p id="comment{{ comment.id }}" class="card-text">
                                {{ comment.body | safe }}
                            </p>
                            {% if user.is_authenticated and comment.author == user %}
                            <button class="btn btn-delete" comment_id="{{ comment.id }}">Delete</button>
                            <button class="btn btn-edit" comment_id="{{ comment.id }}">Edit</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- Delete confirmation modal -->
<div class="modal" id="deleteModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete comment?</h5>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete your comment? This action cannot be undone.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button id="deleteConfirm" type="button" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

{% block extras %}
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}