/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* font-family: "Montserrat", sans-serif; */
/* font-family: "Open Sans", sans-serif; */

.heading {
    font-family: "Montserrat", sans-serif;
}

.main-text {
    font-family: "Open Sans", sans-serif;
}

.dark-bg {
    background-color: rgba(0, 0, 0, 0.616);
}

i {
    font-size: 3rem;
    padding: 1.2rem;
}

/* Screen size between tablet and larger laptop */
@media (min-width: 770px) and (max-width: 1439px) {
    /* Change size on social media links and text in footer */
    i {
        font-size: 20px;
        padding: 1rem;
    }
    
    .social {
        font-size: 15px;
    }

  }